@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  width: 100dvw;
  height: 100dvh;
  background-color: #f5f6f7;
}

.smooth-animation{
  @apply transition-all duration-75 ease-in
}

.underline-animation {
  @apply inline-block relative;
}

.underline-animation:after {
  @apply content-[""] block h-0.5 absolute w-0 left-2/4 bottom-0;
  background: none repeat scroll 0 0 currentColor;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.underline-animation:hover:after {
  @apply w-full left-0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
